<div class="home-container">

  <img src="" alt="">
  <h1>Tarot Readings</h1>
  <p>Three different spreads to choose from. Set an intention or as a question, and press button.
    Single Card Spread: One card draw.
    Clarification Spread: 4 card draw. First card is the heart of the matter and bottow 3 are contributing factors.
    Mirror Spread: First card represents you right now. Second Card is your current issue 
    on your spreads and save them.</p>
</div>