html {
  background: white; }

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0; }

nav a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  height: 100%;
  display: block;
  line-height: 72px;
  border-left: 1px solid #3d34ab;
  width: 128px;
  text-align: center; }

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #3d34ab;
  height: 72px;
  box-shadow: 2px 0px 6px #00000033; }

.home-color {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1; }

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.tiger {
  height: 400px;
  width: 45%;
  margin-top: -171px;
  margin-left: -59%; }

.tiger img {
  width: 100%; }

.title {
  height: 400px; }

.profileHeader {
  margin: 0 auto 0 0;
  color: #3d34ab;
  height: 100%;
  width: 192px;
  line-height: 72px;
  text-align: center; }

.header {
  text-align: center;
  font-weight: 100;
  font-size: 2rem; }

.oneCard {
  margin: 0 auto; }

.cardinfo {
  height: 225px;
  margin: 0 auto;
  width: 174px;
  overflow: scroll; }

.cardinfo p {
  width: 100%;
  text-align: center; }

.singlecard-container {
  width: 189px;
  height: 280.2px;
  cursor: pointer;
  border: 1px solid #1e19a7db;
  border-radius: 24px;
  box-shadow: -2px 2px 8px #00000042;
  background: #f1d0bc; }

.hidden {
  display: none; }

.singlecard-container img {
  width: 100%;
  height: 100%; }

.first-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 21px; }

.second-row {
  display: flex;
  justify-content: center;
  align-items: center; }

.cardtoreveal {
  background: url(/images/cardBack.png);
  background-color: white;
  background-attachment: unset;
  background-repeat: no-repeat;
  background-size: 111%;
  background-position: center; }

.cardtoreveal span {
  color: white;
  display: block;
  font-size: 4rem;
  margin: 50% 0 0;
  text-align: center;
  width: 100%; }

span {
  display: none; }

.mirror-first-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 21px; }

.mirror-second-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 21px; }

.mirror-third-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px; }

.commentForm {
  text-align: center; }

.deleteForm {
  text-align: center; }

.btn {
  border: 1px solid #3d34ab;
  background: #f88674;
  border-radius: 4px;
  width: 95px;
  color: #3d34ab;
  font-size: 1.4rem;
  font-weight: 100;
  height: 37px;
  margin: 5px; }

.saveBtn {
  display: block;
  margin: 0 auto; }

textarea {
  border-radius: 8px;
  border: 1px solid #3d34ab;
  background: #f88674;
  margin: 43px; }

.past-spreads {
  width: 501px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid #3d34ab; }

.newReadingForm {
  text-align: center;
  margin: 87px 0px; }

.newReadingForm button {
  border-radius: 45px;
  height: 92px;
  width: 92px;
  color: #3d34ab;
  font-weight: 100;
  font-size: 1rem;
  background: #f2a397;
  border: 1px solid #3d34ab;
  box-shadow: 0px 2px 4px 2px #00000057; }

.individual {
  border-bottom: 1px solid #3d34ab;
  width: 100%; }

.date {
  margin: 10px 0 0 0; }

.usrLogin {
  text-align: center; }

.circleBtn {
  border-radius: 55px;
  height: 98px;
  width: 98px;
  color: #3d34ab;
  font-weight: 100;
  font-size: 1rem;
  background: #f2a397;
  border: 1px solid #3d34ab;
  box-shadow: 0px 2px 4px 2px #00000057;
  margin: 63px; }

.spread-btn {
  display: flex;
  justify-content: center; }

/*# sourceMappingURL=style.css.map */