<h2 class="header">Signup</h2>


<form action="/signup" method="POST" class="usrLogin">

  <label>Username</label>
  <input type="text" name="username">


  <label>Password</label>
  <input type="password" name="password">


  <button>Log In</button>
</form>