<div class="spread-btn">
  <div>
    <form action="/spreads/onecard"><button class="circleBtn">One Card Spread</button></form>
    <p></p>
  </div>
  <div>
    <form action="/spreads/fourcard"><button class="circleBtn">Clarification Spread</button></form>
    <p></p>
  </div>
  <div>
    <form action="/spreads/fivecard"><button class="circleBtn">Mirror Spread</button></form>
    <p></p>
  </div>
</div>