<div class="spread-btn">
  {{!-- <div class="spread-info-container">
  <p>What's on your mind? Think about it...</b>
    then choose a spread and click!</p> --}}
  <div>
    <form action="/spreads/onecard"><button class="circleBtn">One Card Spread</button></form>
    {{!-- <p>1 card draw</p> --}}
  </div>
  <div>
    <form action="/spreads/fourcard"><button class="circleBtn">Clarification Spread</button></form>
    {{!-- <p>1 main card and 3 contributing factors</p> --}}
  </div>
  <div>
    <form action="/spreads/fivecard"><button class="circleBtn">Mirror Spread</button></form>
    {{!-- <p>
      5 card spread:</b>
      1: you </b>
      2: your current situation </b>
      3: qnother person/situation </b>
      4: their current situation </b>
      5: the unifying factor </b>
    </p> --}}
  </div>
  {{!-- </div> --}}
</div>