<div>
  <form action="/spreads/onecard"><button>One Card Spread</button></form>
  <p></p>
</div>
<div>
  <form action="/spreads/fourcard"><button>Clarification Spread</button></form>
  <p></p>
</div>
<div>
  <form action="/spreads/fivecard"><button>Mirror Spread</button></form>
  <p></p>
</div>